@model FN.Store.Domain.Entities.Cliente

@{
    ViewBag.Title = "Novo";
}

<h2>Novo Cliente</h2>

<div class="row">
    <div class="col-sm-6">

        @using (Html.BeginForm("Salvar", "Clientes", FormMethod.Post))
        { 
            @Html.HiddenFor(x=>x.Id)

            <div class="form-group">
                <label>Nome</label>
                @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", autofocus = "" })
            </div>
    
            <div class="form-group">
                <label>Nascimento</label>
                @Html.TextBoxFor(x => x.DataNascimento, new { @class = "form-control"})
            </div>
    
            <div class="form-group">
                <label>Sexo</label>
                <select class="form-control" name="sexo">
                    @if (Model.Sexo == 0)
                    {
                        <option value="0" selected>Feminino</option>
                        <option value="1">Masculino</option>
                    }
                    else
                    {
                        <option value="0">Feminino</option>
                        <option value="1" selected>Masculino</option>
                    }
                </select>
            </div>
    
            <button class="btn btn-default">Salvar</button>
            <a class="btn btn-danger" href="@Url.Action("Index")">Cancelar</a>
        }
    </div>
</div>
